.imageGalleryContainer {
  align-items: center;
  background-color: rgb(128, 128, 128);
  display: flex;
  flex: 2;

  &__navigation {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

// .mainImageContainer {
//   display: flex;
//   height: 100%;
//   width: 100%;
//   justify-content: space-around;
//   align-items: center;
//   order: 3;
//   background-color: rgb(128, 128, 128);
// };


.focusedImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: zoom-in;
  display: flex;
  flex-direction: row;
}

.focusedImageExpand {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.focusedImageExpand:hover {
  background-size: 175%;
  cursor: crosshair;
}

.mainImage {
  width: 50%;
  min-height: 50%;
  max-height: 50%;
}


.arrowsThumbnailContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .thumbnail {
//   height: 60px;
//   width: 60px;
//   margin: 5px 0;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.thumbnailInput {
  border: 1px solid goldenrod;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.leftArrow {
  left: 102px;
  cursor: pointer;
}

.rightArrow {
  cursor: pointer;
}

// #selected {
//   border: 3px solid black;
// }

.upArrow, .downArrow {
  cursor: pointer;
}

