$header-height: 86px;
$sitewide-msg-height: 56px;

.productOverviewWrapper {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - ($header-height + $sitewide-msg-height));
}

.productOverviewContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.productInfo{
  color: #555;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
}

#collapsed {
  margin: 0;
  display: none;
  width: 0;
}

.starRating {
  display: flex;
  margin-bottom: 15px;
}

.productCategory {
  color: #999;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

.productName {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  padding: 5px 0;
}

.productPrice {
  color: #999;
  font-weight: 100;
  padding: 15px 0 20px;
}

.salePrice {
  margin: 0 10px;
}

.priceStrikethrough {
  text-decoration: line-through;
  color: red;
}

.socialMedia {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  width: 50%;

  svg {
    transition: color 200ms;
  }

  svg:hover {
    color: goldenrod;
    transition: color 200ms;
  }
}

.productDescription {
  color: #777;
  display: flex;
  padding: 25px 0;

  &__info {
    border-right: 2px solid #bbb;
    padding: 20px 45px;
    flex: 2;
  }

  &__title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  &__features {
    flex: 1;
    padding: 20px 45px;
  }

  &__feature-item {
    list-style: none;
    padding: 5px;

    &:before {
      content: '\2713\0020';
      margin-right: 5px;
    }
  }
}

#scrollToReviews {
  background-color: transparent;
  border-color: transparent;
  color: #777;
  cursor: pointer;
  text-decoration: underline;
  transition: color 200ms;

  &:hover {
    color: goldenrod;
    transition: color 200ms;
  }
}
