.related-products {
  background-color: #eee;
  padding: 25px;

  &__row {
    overflow: hidden;
  }

  &__card {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    height: 400px;
    margin: 10px;
    position: relative;
    width: 250px;

    &:hover {
      border-color: dodgerblue;
    }
  }

  &__card-image {
    background-image: url('../../../public/no_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  &__card-details {
    padding: 5px;
  }

  &__card-category,
  &__card-price {
    color: #999;
    font-size: 12px;
    margin: 0;
  }

  &__card-expanded-name {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }
}
