.related-products {
  &__card {
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    height: 350px;
    margin: 10px;
    width: 300px;

    &:hover {
      border-color: dodgerblue;
    }
  }

  &__card-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  }

  &__card-details {
    padding: 5px;
  }

  &__card-category,
  &__card-price {
    color: #999;
    margin: 0;
  }

  &__card-expanded-name {
    font-weight: bold;
    margin: 10px 0;
  }
}
