$modal-width: 450px;

.comparison-modal {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 16px;
  padding: 30px;
  position: absolute;
  right: calc(50% - $modal-width / 2);
  top: -30px;
  width: $modal-width;

  &__heading {
    color: #bbb;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__table {
    table-layout: fixed;
    width: 100%;

    th,
    td {
      padding: 10px;
      text-align: center;
    }
  }
}
