.related-products {
  position: relative;

  &__row {
    position: relative;
  }

  &__carousel {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
  }

  &__action-btn {
    float: right;
    margin: 5px 5px 0 0;
  }

  &__nav-overlay {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__chevron-right {
    margin-right: 30px;
  }

  &__navigation {
    font-size: 48px;
    pointer-events: visible;
    z-index: 10;
  }
}
